.ttl{
	color: #4a4a35;
	text-align: center;
	font-size: 300%;
}
h2{
	color : #f7461e;
	text-align: center;
}
body {
   background-image: url('img.jpg');
  color: #333333;
 
}
.out{
	margin-left: 400px;
	margin-right: 400px;
	border-style: ridge;
	padding: 20px;
}
.dtl{
	text-align: center;
}
.in
{
	margin-bottom:40px;
	border-style: ridge;	
  	border-radius: 5px;
  	padding: 5px;
}
